<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Data Table</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Date and Time</th>
            <th>pH Value</th>
            <th>Turbidity</th>
            <th>Quality</th>
            <th>Water Taps</th>
        </tr>
        {% for data in water_data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.datetime }}</td>
                <td>{{ data.ph_value }}</td>
                <td>{{ data.turbidity }}</td>
                <td>{{ data.quality }}</td>
                <td>{{ data.water_tap }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
